/* FILEPATH: /Users/dani/Documents/cs50/Image-Captioning-app-web/static/styles.css */

header h1 {
    font-size: 70px;
    font-weight: 600;
    border-radius: 8px;
    background: transparent;
    background-image: linear-gradient(to left, #3ae805, #efd50e, #ee820e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    
    backdrop-filter: blur(8px);
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('./images/background.jpeg') no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    backdrop-filter: blur(5px);
    background-size: cover;
  }
  
  .navbar {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links li {
    padding: 0 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #e0e0e0;
  }

  .register-div {
    border-radius: 12px;
    border: 2px solid white;
    background: transparent;
    backdrop-filter: blur(8px);
  }
  