/* FILEPATH: /Users/dani/Documents/cs50/Image-Captioning-app-web/static/styles.css */

header h1 {
    font-size: 70px;
    font-weight: 600;
    border-radius: 8px;
    background: transparent;
    background-image: linear-gradient(to left, #23fa8b, #e3ff0b, #fab20a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    backdrop-filter: blur(8px);
  }

  .transparent-black-bg {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    color: white; /* Ensures text is light on the dark background */
    text-align: center; /* Center text */
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('./background.jpeg') no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    backdrop-filter: blur(5px);
    background-size: cover;
  }
  
  .navbar {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .nav-links {
    list-style: none; /* Remove list bullets */
    display: flex; /* Make the nav links to display inline */
    justify-content: center; /* Horizontally center the navbar links */
    align-items: center; /* Center the navbar links vertically */
  }
  
  .nav-links li {
    padding: 0 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #e0e0e0;
  }

  .form-control {
    width: 50%; /* Adjust this value as needed to make the inputs narrower */
    margin: 0 auto; /* This will center the input if it's a block element */
  }

  .register-div {
    max-width: 500px; /* this is the width of the div */
    margin: 0 auto; /* this will center the div */
    border-radius: 10px; /* this will give the div rounded corners */
    border: 2px solid white; /* this will give the div a 2px white border */
    background: transparent; /* this will give the div a transparent background */
    backdrop-filter: blur(8px);  /* this will give the div a blur effect */
    text-align: center; /* this will center the text in the div */
  }

  .login-div {
      max-width: 500px; /* this is the width of the div */
      margin: 0 auto; /* this will center the div */
      border-radius: 10px; /* this will give the div rounded corners */
      border: 2px solid white; /* this will give the div a 2px white border */
      background: transparent; /* this will give the div a transparent background */
      backdrop-filter: blur(8px); /* this will give the div a blur effect */
      text-align: center; /* this will center the text in the div */
  }

  .upload-div {
    max-width: 500px; /* this is the width of the div */
    margin: 0 auto; /* this will center the div */
    border-radius: 10px; /* this will give the div rounded corners */
    border: 2px solid white; /* this will give the div a 2px white border */
    background: transparent; /* this will give the div a transparent background */
    backdrop-filter: blur(8px); /* this will give the div a blur effect */
    text-align: center; /* this will center the text in the div */
  }
  
  .logo-image {
    max-width: 100%; /* Limit image width to its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Needed to apply auto margins */
    margin: 0 auto; /* Center the image horizontally */
  }

  .home-image {
    max-width: 5%; /* Limit image width to its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Needed to apply auto margins */
    margin: 0 auto; /* Center the image horizontally */
  }