{% extends "layout.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<body class="container-fluid py-5 text-center">
    <header class="transparent-black-bg">
        <h1>Contact Us</h1>
    </header>
    
    <div class="transparent-black-bg">
        <p> If you have any questions or comments, please contact us at: </p>

        <a href="https://www.linkedin.com/in/daniel-alejandro-vidal-guerra-21386b266//" target="_blank">linkedin: Daniel Vidal</a> <br>
        <a href="https://github.com/Dani13vg" target="_blank">github: Dani13vg</a> <br>
        <p> Email: danielvidal130602@gmail.com </p>

    </div>
</body>

{% endblock %}
