{% extends "layout.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="container">
    <header class="transparent-black-bg">
        <h1>Contact Us</h1>
    </header>
    
    <div class="transparent-black-bg">
        <p class="gradient-text"> If you have any questions or comments, please contact us at: </p>

        <p class="gradient-text">Linkedin: <a href="https://www.linkedin.com/in/daniel-alejandro-vidal-guerra-21386b266//" target="_blank">Linkedin: Daniel Vidal</a></p>
        <p class="gradient-text">GitHub: <a href="https://github.com/Dani13vg" target="_blank">Dani13vg</a></p>
        <p class="gradient-text">Email: <a href="https://mail.google.com/" target="_blank">danielvidal130602@gmail.com</a> </p>
    </div>
</div>

{% endblock %}
