{% extends "layout.html" %}

{% block title %} Usage {% endblock %}

{% block content %}

<body class="container-fluid py-5 text-center">
    <header class="transparent-black-bg">
        <h1>Usage</h1>
    </header>
    
    <div class="transparent-black-bg">
        <p> This app is designed to take an image and generate a caption for it using artificial intelligence tools. </p>
        <p> It is so simple, you just need to upload an image and click upload and the app will generate a caption for it. </p>
        <p> You must register and loggin to save your images with their corresponding captions</p>
    </div>
</body>

{% endblock %}
