{% extends "layout.html" %}

{% block title %} Usage {% endblock %}

{% block content %}

<div class="container">
    <header class="transparent-black-bg">
        <h1>Usage</h1>
    </header>
    
    <div class="transparent-black-bg">
        <p class="gradient-text"> This app is designed to take an image and generate a caption for it using artificial intelligence tools. </p>
        <p class="gradient-text"> It is so simple, you just need to upload an image and click on 'Get Caption' and the app will generate a caption for it. </p>
        <p class="gradient-text"> You must register and loggin to save your images with their corresponding captions</p>
    </div>
</div>

{% endblock %}
